.about-section {
  @include media(desktop) {
  }
}

.about-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/about/about-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/about/about-bg-desk.png);
    padding-top: 120px;
    padding-bottom: 80px;
  }
}

.about-container {
  @include media(desktop) {
  }
}

.about-title {
  color: #df3e3a;

  @include media(desktop) {
  }
}

.about-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #666;

  @include media(desktop) {
    font-size: 20px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }
}
