.contact-section {
  padding-top: 64px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-content-wrapper {
  background: #002787;
  border-radius: 48px;
  padding: 48px 16px;

  @include media(desktop) {
    padding: 64px 40px;
  }
}

.contact-title {
  color: #fff;

  @include media(desktop) {
  }
}

.contact-subtitle {
  color: #fff;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 32px;
  }
}

.arrow-icon {
  min-width: 40px;
}

.contact-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  text-align: center;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.contact-btn {
  max-width: 311px;

  @include media(desktop) {
    max-width: 220px;
  }
}
