.contact-section {
  background: #fdf8f4;

  @include media(desktop) {
  }
}

.contact-bg-wrapper {
  padding-top: 80px;
  padding-bottom: 354px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/contact/contact-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 703px;
    max-width: 1440px;
    background-image: url(../img/contact/contact-bg-desk.jpg);
  }
}

.contact-container {
  @include media(desktop) {
  }
}

.contact-title {
  text-align: center;
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-align: center;
  color: #3b007d;
  word-break: break-all;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 18px;
    margin-bottom: 64px;
  }
}

.arrow-icon {
  min-width: 24px;
}

.contact-btn {
  max-width: 343px;
  margin-bottom: 8px;

  @include media(desktop) {
    max-width: 260px;
  }
}

.contact-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #666;

  @include media(desktop) {
  }
}
