.experience-section {
}

.experience-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.experience-container {
  @include media(desktop) {
  }
}

.experience-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}

.experience-text-container {
  @include media(desktop) {
    max-width: 640px;
  }
}

.experience-subtitle {
  text-align: left;

  @include media(desktop) {
  }
}

.experience-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #666;

  @include media(desktop) {
    font-size: 18px;
  }
}

.experience-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    min-width: 640px;
    margin: 0;
  }
}
