.faq-section {
  padding-top: 64px;
  padding-bottom: 64px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.faq-container {
  @include media(desktop) {
  }
}

.faq-title {
  color: #333;

  @include media(desktop) {
  }
}

.faq-subtitle {
  @include media(desktop) {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media(desktop) {
  }
}

.faq-list-item {
  border: 1px solid #5e8cd1;
  border-radius: 16px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    max-width: 640px;
  }
}

.faq-top-text-btn {
  display: flex;
  align-items: start;
  width: 100%;

  @include media(desktop) {
  }
}

.faq-btn-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: #333;
  text-align: left;

  @include media(desktop) {
    font-size: 20px;
  }
}

.faq-toggle-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  height: 24px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;

  @include media(desktop) {
  }
}

.faq-icon {
  @include media(desktop) {
  }
}

.faq-bottom-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #666;
  max-width: 287px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;

  @include media(desktop) {
    font-size: 18px;
    max-width: 584px;
  }
}

.is-visible {
  margin-top: 16px;
  max-height: 500px;
  opacity: 1;

  @include media(desktop) {
  }
}

.faq-list-item.faq-open .faq-toggle-symbol {
  transform: rotate(180deg);
}

.faq-list-item.faq-open {
}

.faq-list-item.faq-open .faq-btn-text {
}
