.gallery-section {
  background: #df3e3a;
  border-radius: 48px;

  @include media(desktop) {
  }
}

.gallery-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.gallery-container {
}

.gallery-title {
  color: #fff;

  @include media(desktop) {
  }
}

.gallery-subtitle {
  color: #fff;

  @include media(desktop) {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 64px;
  }
}

.gallery-swiper-container {
  max-width: 240px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.gallery-swiper-container.show {
  visibility: visible;
}

.gallery-swiper-wrapper {
  @include media(desktop) {
  }
}

.gallery-slide {
  width: 100%;
  max-width: 240px;

  @include media(desktop) {
    max-width: 304px;
  }
}

.gallery-img {
  @include media(desktop) {
  }
}
