.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 206px;
  padding-bottom: 154px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 135px;
    padding-bottom: 73px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.hero-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 22px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #df3e3a;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 10px 29px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #333;
  }

  @include media(desktop) {
    max-width: 220px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ebebeb;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ebebeb;

  @include media(desktop) {
  }
}
