.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 150px;
  padding-bottom: 98px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 104px;
    padding-bottom: 42px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  background: #fff;
  border-radius: 36px;
  padding: 40px 16px;

  @include media(desktop) {
    padding: 40px;
    max-width: 528px;
  }
}

.hero-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  @include media(desktop) {
  }
}

.hero-subtitle {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: center;
  color: #4d1933;
  margin-bottom: 13px;

  @include media(desktop) {
    font-size: 32px;
  }
}

.hero-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #4d5a5e;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3b007d;
  border-radius: 50px;
  padding: 12px 20px;
  width: 100%;
  max-width: 311px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #122328;
  }

  @include media(desktop) {
    max-width: 260px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ebebeb;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #ebebeb;

  @include media(desktop) {
  }
}
