.structure-section {
}

.structure-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 200px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/structure/structure-img-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/structure/structure-img-desk.png);
    background-position: center right 64px;
  }
}

.structure-container {
  @include media(desktop) {
  }
}

.structure-content-wrapper {
  display: flex;
  flex-direction: column;

  @include media(desktop) {
    max-width: 640px;
  }
}

.structure-subtitle {
  text-align: left;

  @include media(desktop) {
  }
}

.structure-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include media(desktop) {
  }
}

.structure-list-item {
  display: flex;
  align-items: start;
  gap: 16px;

  @include media(desktop) {
  }
}

.check-icon {
  min-width: 24px;

  @include media(desktop) {
  }
}

.structure-item-text {
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #666;

  @include media(desktop) {
    font-size: 18px;
  }
}
