.works-section {
  background: #fdf8f4;
}

.works-bg-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.works-container {
  @include media(desktop) {
  }
}

.works-title {
  text-align: center;

  @include media(desktop) {
  }
}

.works-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #666;
  margin-bottom: 48px;

  @include media(desktop) {
    font-size: 18px;
    max-width: 416px;
    margin-left: auto;
    margin-right: auto;
  }
}

.works-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }
}

.works-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 100%;
  max-width: 304px;

  @include media(desktop) {
  }
}

.works-img {
  @include media(desktop) {
  }
}

.works-item-text {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
  color: #4d5a5e;

  @include media(desktop) {
    font-size: 18px;
  }
}
