<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="about-content-wrapper">
        <div class="about-text-wrapper">
          <h2 class="section-title about-title">WHAT IS ROY STORY</h2>
          <p class="about-text about-top-text">
            So <span class="about-text-span">Roy Story</span> is basically your
            standard match-3, but with this fantasy twist that honestly makes it
            way more engaging than usual.
          </p>
          <p class="about-text about-middle-text">
            Players follow Roy as he restores his kingdom by solving puzzles,
            clearing obstacles, and unlocking new areas.
          </p>
          <p class="about-text about-bottom-text">
            The coolest part? Every puzzle you solve literally rebuilds a piece
            of Roy's kingdom - and man, it's weirdly satisfying to watch.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-img-desk.png"
            media="(min-width: 1440px)"
            width="620"
            height="303" />
          <source
            srcset="./img/about/about-img-mob.png"
            width="343"
            height="168" />
          <img
            class="about-img"
            src="./img/about/about-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="168"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
