<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">Questions or feedback?</h2>
      <a href="mailto:info@slotpeak.site" class="contact-link">
        <span class="contact-btn-span">info@slotpeak.site</span>
        <svg class="arrow-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
      </a>
      <a
        class="hero-btn contact-btn"
        href="https://play.google.com/store/apps/details?id=com.velogames.roystory&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="playstore-icon" width="30" height="34">
          <use href="./img/sprite.svg#icon-playstore"></use>
        </svg>
        <div class="hero-btn-text-wrapper">
          <p class="her-btn-top-text">GET IT ON</p>
          <p class="her-btn-bottom-text">Google Play</p>
        </div>
      </a>
      <p class="contact-text">Publisher: Slotpeak Games</p>
    </div>
  </div>
</section>
