<section class="section experience-section" id="experience">
  <div class="experience-bg-wrapper">
    <div class="container experience-container">
      <div class="experience-content-wrapper">
        <div class="experience-text-container">
          <p class="section-subtitle experience-subtitle">
            Relaxation & Player Experience
          </p>
          <p class="experience-text">
            The player experience is built around calm pacing and the absence of
            pressure. There’s no need for fast reactions — the game encourages
            thoughtful play at your own rhythm. Pleasant sound effects and
            smooth transitions support a relaxed atmosphere, making it suitable
            for stress relief and casual sessions. It keeps the mind engaged
            without becoming frustrating or mentally draining.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/experience/experience-img-desk.png"
            media="(min-width: 1440px)"
            width="640"
            height="426" />
          <source
            srcset="./img/experience/experience-img-mob.png"
            width="343"
            height="228" />
          <img
            class="experience-img"
            src="./img/experience/experience-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="228"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
