<section class="section faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="section-title faq-title">FAQ</h2>
    <p class="section-subtitle faq-subtitle">Things You Might Want to Know</p>
    <ul class="faq-list">
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Is Fetch & Match suitable for all ages?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yeah, definitely! My 8-year-old nephew and my mom both love it.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Is there a time limit in levels?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          No. Players can take their time and play at their own pace.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text">Do levels become more difficult?</span>
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes. Difficulty increases gradually by adding more objects and visual
          complexity.
        </p>
      </li>
      <li class="faq-list-item">
        <button class="faq-top-text-btn">
          <span class="faq-btn-text"
            >Does the game require strategic thinking?</span
          >
          <span class="faq-toggle-symbol"
            ><svg class="faq-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-plus"></use></svg
          ></span>
        </button>
        <p class="faq-bottom-text">
          Yes. Planning which objects to match first is important in later
          levels.
        </p>
      </li>
    </ul>
  </div>
</section>
