<section class="section gameplay-section" id="gameplay">
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-text-wrapper">
        <h2 class="section-title gameplay-title">Core gameplay</h2>
        <p class="section-subtitle gameplay-subtitle">Match In 3D Space</p>
        <p class="gameplay-text">
          The harder levels will definitely test your observation skills - and
          whether you can remember where you saw that third banana!
        </p>
        <ul class="gameplay-list">
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img1.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Rotate the scene to explore objects
            </p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img2.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
              loading="lazy"
            />
            <p class="gameplay-item-text">
              Find and select three identical items
            </p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img3.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
              loading="lazy"
            />
            <p class="gameplay-item-text">Clear the board step by step</p>
          </li>
          <li class="gameplay-list-item">
            <img
              class="gameplay-img"
              src="./img/gameplay/gameplay-img4.png"
              alt="Screenshot of the game"
              width="100"
              height="100"
              loading="lazy"
            />
            <p class="gameplay-item-text">Avoid filling all available slots</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
