<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <div class="hero-content-wrapper">
        <picture>
          <source
            srcset="./img/hero/hero-title-desk.png"
            media="(min-width: 1440px)"
            width="344"
            height="263" />
          <source
            srcset="./img/hero/hero-title-mob.png"
            width="246"
            height="187" />
          <img
            class="hero-img"
            src="./img/hero/hero-title-mob.png"
            alt="Title"
            width="246"
            height="187"
        /></picture>
        <p class="hero-subtitle">
          Blast, match, and rebuild a magical kingdom.
        </p>
        <p class="hero-text">
          Join Roy on his quest to rebuild his shattered kingdom - solving
          puzzles and uncovering surprises at every turn.
        </p>
        <a
          class="hero-btn"
          href="https://play.google.com/store/apps/details?id=com.velogames.roystory&hl=en&gl=us"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="playstore-icon" width="30" height="34">
            <use href="./img/sprite.svg#icon-playstore"></use>
          </svg>
          <div class="hero-btn-text-wrapper">
            <p class="her-btn-top-text">GET IT ON</p>
            <p class="her-btn-bottom-text">Google Play</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
