<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <picture>
        <source
          srcset="./img/hero/hero-title-desk.png"
          media="(min-width: 1440px)"
          width="480"
          height="381" />
        <source
          srcset="./img/hero/hero-title-mob.png"
          width="280"
          height="222" />
        <img
          class="hero-img"
          src="./img/hero/hero-title-mob.png"
          alt="Title"
          width="280"
          height="222"
      /></picture>
      <p class="hero-text">
        Fetch & Match: Match 3D is perfect if you're the type who likes to slow
        down and really pay attention to the little things.
      </p>
      <a
        class="hero-btn"
        href="https://play.google.com/store/apps/details?id=com.kakaogames.match3d&hl=en&gl=us"
        target="_blank"
        rel="noopener noreferrer"
      >
        <svg class="playstore-icon" width="30" height="34">
          <use href="./img/sprite.svg#icon-playstore"></use>
        </svg>
        <div class="hero-btn-text-wrapper">
          <p class="her-btn-top-text">GET IT ON</p>
          <p class="her-btn-bottom-text">Google Play</p>
        </div>
      </a>
    </div>
  </div>
</section>
