<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about">About</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#works">How It Works</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#design">Level Design</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#style">Visual Style</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
