<section class="section structure-section" id="structure">
  <div class="structure-bg-wrapper">
    <div class="container structure-container">
      <div class="structure-content-wrapper">
        <p class="section-subtitle structure-subtitle">
          Object Variety & Level Structure
        </p>
        <ul class="structure-list">
          <li class="structure-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="structure-item-text">
              Each level has its own theme going on
            </p>
          </li>
          <li class="structure-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="structure-item-text">
              New items are introduced gradually
            </p>
          </li>
          <li class="structure-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="structure-item-text">
              The later levels get pretty cluttered and tricky
            </p>
          </li>
          <li class="structure-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="structure-item-text">
              Every level brings something new to look at
            </p>
          </li>
          <li class="structure-list-item">
            <svg class="check-icon" width="24" height="24">
              <use href="./img/sprite.svg#icon-check"></use>
            </svg>
            <p class="structure-item-text">
              Perfect for a quick coffee break or when you're binge-watching
              Netflix.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
