<section class="style-section section" id="style">
  <div class="style-bg-wrapper">
    <div class="container style-container">
      <h2 class="section-title style-title">VISUAL STYLE & GAME FEEL</h2>
      <p class="style-text">
        The game uses a bright, cheerful color palette and friendly
        fantasy-inspired environments to create an inviting tone. Tiles are
        clearly distinguishable, and animations are smooth and purposeful,
        helping players understand each move without visual clutter. The overall
        feel is light, accessible, and easy to enjoy.
      </p>
      <div class="style-swiper-container">
        <ul class="swiper-wrapper style-swiper-wrapper">
          <li class="swiper-slide style-slide">
            <picture>
              <source
                srcset="./img/style/style-img1-desk.png"
                media="(min-width: 1440px)"
                width="304"
                height="406" />
              <source
                srcset="./img/style/style-img1-mob.png"
                width="240"
                height="320" />
              <img
                class="style-img"
                src="./img/style/style-img1-mob.png"
                alt="Screenshot of the game"
                width="240"
                height="320"
                loading="lazy"
            /></picture>
          </li>
          <li class="swiper-slide style-slide">
            <picture>
              <source
                srcset="./img/style/style-img2-desk.png"
                media="(min-width: 1440px)"
                width="304"
                height="406" />
              <source
                srcset="./img/style/style-img2-mob.png"
                width="240"
                height="320" />
              <img
                class="style-img"
                src="./img/style/style-img2-mob.png"
                alt="Screenshot of the game"
                width="240"
                height="320"
                loading="lazy"
            /></picture>
          </li>
          <li class="swiper-slide style-slide">
            <picture>
              <source
                srcset="./img/style/style-img3-desk.png"
                media="(min-width: 1440px)"
                width="304"
                height="406" />
              <source
                srcset="./img/style/style-img3-mob.png"
                width="240"
                height="320" />
              <img
                class="style-img"
                src="./img/style/style-img3-mob.png"
                alt="Screenshot of the game"
                width="240"
                height="320"
                loading="lazy"
            /></picture>
          </li>
          <li class="swiper-slide style-slide">
            <picture>
              <source
                srcset="./img/style/style-img4-desk.png"
                media="(min-width: 1440px)"
                width="304"
                height="406" />
              <source
                srcset="./img/style/style-img4-mob.png"
                width="240"
                height="320" />
              <img
                class="style-img"
                src="./img/style/style-img4-mob.png"
                alt="Screenshot of the game"
                width="240"
                height="320"
                loading="lazy"
            /></picture>
          </li>
          <li class="swiper-slide style-slide">
            <picture>
              <source
                srcset="./img/style/style-img5-desk.png"
                media="(min-width: 1440px)"
                width="304"
                height="406" />
              <source
                srcset="./img/style/style-img5-mob.png"
                width="240"
                height="320" />
              <img
                class="style-img"
                src="./img/style/style-img5-mob.png"
                alt="Screenshot of the game"
                width="240"
                height="320"
                loading="lazy"
            /></picture>
          </li>
          <li class="swiper-slide style-slide">
            <picture>
              <source
                srcset="./img/style/style-img6-desk.png"
                media="(min-width: 1440px)"
                width="304"
                height="406" />
              <source
                srcset="./img/style/style-img6-mob.png"
                width="240"
                height="320" />
              <img
                class="style-img"
                src="./img/style/style-img6-mob.png"
                alt="Screenshot of the game"
                width="240"
                height="320"
                loading="lazy"
            /></picture>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
