<section class="section works-section" id="works">
  <div class="works-bg-wrapper">
    <div class="container works-container">
      <h2 class="section-title works-title">HOW IT WORKS</h2>
      <p class="works-text">
        We ease you in with the simple stuff, but don't worry - it gets tricky
        fast enough to keep you on your toes.
      </p>
      <ul class="works-list">
        <li class="works-list-item">
          <img
            class="works-img"
            src="./img/works/works-img1.png"
            alt="Screenshot of the game"
            width="304"
            height="304"
            loading="lazy"
          />
          <p class="works-item-text">
            Match and blast colorful elements to complete level objectives
          </p>
        </li>
        <li class="works-list-item">
          <img
            class="works-img"
            src="./img/works/works-img2.png"
            alt="Screenshot of the game"
            width="304"
            height="304"
            loading="lazy"
          />
          <p class="works-item-text">
            You've only got so many moves per level, so you really gotta make
            each one count.
          </p>
        </li>
        <li class="works-list-item">
          <img
            class="works-img"
            src="./img/works/works-img3.png"
            alt="Screenshot of the game"
            width="304"
            height="304"
            loading="lazy"
          />
          <p class="works-item-text">
            You'll run into tricky obstacles that'll make you think twice about
            your next move
          </p>
        </li>
        <li class="works-list-item">
          <img
            class="works-img"
            src="./img/works/works-img4.png"
            alt="Screenshot of the game"
            width="304"
            height="304"
            loading="lazy"
          />
          <p class="works-item-text">
            Create powerful combinations to clear large areas of the board
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
